body {
    user-select: none;
    display: grid;
}

#opimage{
    background-image: url(../img/enemy.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#opmp{
    background-image: url(../img/icons/mp.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#ophp{
    background-image: url(../img/icons/hp.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#opcardcount{
    background-image: url(../img/icons/rest.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

.cost{
    background-image: url(../img/icons/cost.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.hpp{
    background-image: url(../img/icons/hp.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.atk{
    background-image: url(../img/icons/atk.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.mp{
    background-image: url(../img/icons/mp.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.time{
    background-image: url(../img/icons/time.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.rest{
    background-image: url(../img/icons/rest.png);
    background-size: 25px 25px;
    width: 3vw;
    height: 3vw;
}

.cost,.hpp,.atk{
    font-size: 15px;
    height: 2vw;
}

.middleinfo{
    display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
    background-size: 50px 50px;
    color: white;
}
.hpp.middleinfo{
    height: 3vw;
}

#opponentinfo{
    position: absolute;
    top: 0;
}

.eventop{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    margin-top: 1vw;
}

#enemyboxed{
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: rgb(137, 195, 218, 0.411);
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}

#opusername{
    width: 150px;
}

#enemy{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    width: 150px;
}

#opinfo{
    display: flex; 
    align-items: center; 
    flex-direction: row;
    width: 150px;
    color: white;
    font-size: 20px;
}

#opponentboard{
    margin-top: 5vw;
}

#yourboard{
    height: 16vw;
} 

#info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 7vw;
    padding: 1vw;
    margin-left: 30px;
}
#info>div{
    font-size: 15px;
}

#yourhand{
    width: auto;
    display: flex;
    align-items: center;
}

#hand{
    display: flex;
	justify-content: center;
    flex-direction: row;
}

#buttons{
    padding: 2vw;
    width: 7vw;
}

#bot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
	justify-content: space-between;
    border-radius: 20px;
    /* margin: 0.5vw; */
}

.even{
    width: 100vw;
	justify-content: center;
}

.card{
	box-shadow: 0 0.2vw 0.4vw 0 rgba(0,0,0,0.2);
	height: 10vw;
	width: 6vw;
    margin: 0.5vw;
    padding: 0.5vw;
	border-radius: 1vw;
    background-color: plum;
}

.card>desc{
	overflow-wrap: break-word;
} 

.image{
    margin-top: .5vw;
    background-image: url("../img/i01_cat.jpg");
    background-size: 100px;
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
}

.imgcon{
    display: flex;
    justify-content: center;
}

.cinfo{
    display: flex;
    flex-direction: row;
    color: white;
}

#containerinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
}


/* https://thenounproject.com/browse/collection-icon/wolrd-flags-set-68008/?p=1 */
