body {
    user-select: none;
    display: grid;
}

#cost{
    background-image: url(../img/icons/cost.png);
}

#hpp{
    background-image: url(../img/icons/hp.png);
}

#atk{
    background-image: url(../img/icons/atk.png);
}

#cost, #hpp, #atk{
    background-size: 50px 50px;
}

#info{
    padding: 2vw;
}

#opponentinfo{
    /* background-color: rgba(255, 255, 255, 0.411); */
    position: absolute;
    top: 0;
}

.eventop{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}

#enemyboxed{
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: rgb(137, 195, 218, 0.411);
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}

#opusername{
    width: 150px;
}

#enemy{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    width: 150px;
}

#opinfo{
    display: flex; 
    align-items: center; 
    flex-direction: row;
    width: 150px;
}

#opimage{
    background-image: url(../img/enemy.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#opmp{
    background-image: url(../img/icons/cost.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#ophp{
    background-image: url(../img/icons/hp.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#opcardcount{
    background-image: url(../img/icons/atk.png);
    background-size: 50px 50px;
    width: 3vw;
    height: 3vw;
}

#opponentboard{
    margin-top: 2vw;
    height: 16vw;
}

#yourboard{
    height: 16vw;
} 

#yourinfo{
    display: inline-grid;
}

#buttons{
    padding: 2vw;
}

#bot{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
	justify-content: space-between;
    border-radius: 20px;
    margin: 0.5vw;
}

.even{
    width: 100vw;
	justify-content: center;
}

.card{
	box-shadow: 0 0.2vw 0.4vw 0 rgba(0,0,0,0.2);
	height: 12vw;
	width: 8vw;
    margin: 0.5vw;
    padding: 0.5vw;
	border-radius: 1vw;
    background-color:ivory;
}

.card>desc{
	overflow-wrap: break-word;
} 

.image{
    background-image: url("../img/i01_cat.jpg");
    background-size: 125px;

    width: 8vw;
    height: 8vw;
    border-radius: 5vw;
}

.cinfo{
    display: inline-block;
    color: blue;
}



/* https://thenounproject.com/browse/collection-icon/wolrd-flags-set-68008/?p=1 */
