body {
    user-select: none;
    display: grid;
}

#opponentinfo{
    position: absolute;
    top: 0;
}

#opponentboard{
    margin-top: 50px;
    height: 300px;
}

#yourboard{
    height: 300px;
} 

#yourhand{

}

#hand{

}

#yourinfo{
    display: inline-grid;

}

#buttons{
    float: right;
    display: inline-grid;
}

#bot{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
	justify-content: space-between;
}

.eventop{
    background-color: rgba(255, 255, 255, 0.411);
}

.even{
    width: 100vw;
	justify-content: center;
}

.card{
	box-shadow: 0 0.2vw 0.4vw 0 rgba(0,0,0,0.2);
	height: 12vw;
	width: 8vw;
    margin: 0.5vw;
    padding: 0.5vw;
	border-radius: 1vw;
    background-color:ivory;
}

.card>desc{
	overflow-wrap: break-word;
} 

.image{
    background-image: url("../img/i01_cat.jpg");
    background-size: 125px;

    width: 125px;
    height: 125px;
    border-radius: 10px;
    /* margin: 5%; */
}

.cinfo{
    display: inline-block;
    color: blue;
}

#cost{
    background-image: url(../img/icons/cost.png);
}

#hpp{
    background-image: url(../img/icons/hp.png);
}

#atk{
    background-image: url(../img/icons/atk.png);
}

#cost, #hpp, #atk{
    background-size: 50px 50px;
}

/* https://thenounproject.com/browse/collection-icon/wolrd-flags-set-68008/?p=1 */
