* {
	margin:0;
	padding:0;
}

html {

}

body {
	
}

.login-form-frame {
	margin: 20px auto;
	width:310px;
	border-radius: 3px;
	border:1px solid #6b5736;
	background-color: #ddd;
	padding:20px;
	background: linear-gradient(white, #d1d1d1); 
}

.buttonT{
	/* height: 25px; */
 	/* width: 25px; */
  	background-color: #FF6FFF;
  	border-radius: 50%;
	border-color: black;
  	/* display: inline-block; */
}

.circle {
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 10px;
	background: #fff;
	border: 3px solid #000;
	color: #000;
	text-align: center;
	font: 32px Arial, sans-serif;
  }